<!-- Start of nav_droite-nav_right-fra.html / Début de nav_droite-nav_right-fra.html -->
<!-- MODULE START -->
<div class="span-2">

<div class="span-2 module-related">
	<h2>Faits saillants</h2>
		<ul>
			<li><a href="#">Blogue de la haute direction</a></li>
			<li><a href="#">De la part du SM et du SMD</a></li>
		    <li><a href="#">Message de la Ministres</a></li>
		</ul>
</div>

<div class="span-2 module-related">
	<h2>Liens connexes</h2>
		<ul>
			<li><a href="#">Atlantique</a></li>
			<li><a href="#">Ontario</a></li>
		    <li><a href="#">Ouest</a></li>
		    <li><a href="#">Pacifique</a></li>
		    <li><a href="#">Québec</a></li>
		</ul>
</div>

<div class="span-2 module-related">
		<h2><strong>Saviez-vous que?</strong></h2>
		<ul>
			<li>Cette section affiche <a href="#" style="text-decoration: underline">des faits d'intérêt</a> ou un texte d'avant-goût concernant la page, la direction générale ou le site.</li>
		</ul>
</div> 

</div>
<!-- MODULE END -->
<!-- End of nav_droite-nav_right-fra.html / Fin De nav_droite-nav_right-fra.html -->
