<nav role="navigation"><h2 id="wb-nav">Secondary menu</h2>
<div class="wb-sec-def">
<!-- SecNavStart -->
<div><ul>
<li class="top-level"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/st-ps/index-eng.html"><abbr title="Public Works and Government Services Canada">PWGSC</abbr> Services</a></li>
<!--<li class="top-level"><a href="#">Item 4b</a></li>
<li class="top-level"><a href="#">Item 4c</a></li>-->
</ul></div>
<section><h3><a href="2col-nav-eng.html">[Branch/Region Services]</a></h3>
<ul>
<li><a href="#">Service</a></li>
<li><a href="#">Tool</a></li>
<li><a href="#">Program name</a></li>
</ul>
</section>
<section><h3><a href="#">[Branch/Region] Resources</a></h3>
<ul>
<li><a href="#">A-Z Index</a></li>
<li><a href="#">Business Plan</a></li>
<li><a href="#">Site Map</a></li>
</ul>
</section>
<!--<div>
<ul>
<li class="top-level"><a href="#">Sign In</a></li>
</ul>
</div> -->
<!-- SecNavEnd -->
</div>
</nav>