<!-- Start of nav_droite-nav_right-eng.html / Début de nav_droite-nav_right-eng.html -->
<!-- MODULE START -->
<div class="span-2">

<div class="span-2 module-related">
	<h2>Highlights</h2>
		<ul>
			<li><a href="#">From the DMs' Desk</a></li>
			<li><a href="#">Message from the Minister</a></li>
		    <li><a href="#">Senior Leaders' Blog </a></li>
		</ul>
</div>

<div class="span-2 module-related">
	<h2>Related Links</h2>
		<ul>
			<li><a href="#">Atlantic</a></li>
			<li><a href="#">Ontario</a></li>
			<li><a href="#">Pacific</a></li>
			<li><a href="#">Quebec</a></li>
		    <li><a href="#">Western</a></li>
		</ul>
</div>

<div class="span-2 module-related">
		<h2>Did You Know?</h2>
		<ul>
			<li>Displays a <a href="#" style="text-decoration: underline">promotional factoid or teaser</a> related to the page, branch content or specific site. </li>
		</ul>
</div> 

</div>
<!-- MODULE END -->
<!-- End of nav_droite-nav_right-eng.html / Fin De nav_droite-nav_right-eng.html -->
