<nav role="navigation"><h2 id="wb-nav">Menu secondaire</h2>
<div class="wb-sec-def">
<!-- SecNavStart -->
<div><ul>
<li class="top-level"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/st-ps/index-fra.html">Services de <abbr title="Travaux publics et Services gouvernementaux Canada">TPSGC</abbr></a></li>
</ul></div>
<section>
  <h4><a href="2col-nav-fra.html">Services de [Direction générale/Région]</a></h4>
<ul>
<li><a href="#">Service</a></li>
<li><a href="#">Outil</a></li>
<li><a href="#">Nom de programme</a></li>
</ul>
</section>
<section><h4><a href="#">Ressources de [Direction générale/Région]</a></h4>
<ul>
<li><a href="#">Index A-Z</a></li>
<li><a href="#">Plan d'activités</a></li>
<li><a href="#">Plan du site</a></li>
</ul>
</section>
<!--<div>
<ul>
<li class="top-level"><a href="#">Ouverture de session</a></li>
</ul>
</div> -->
<!-- SecNavEnd -->
</div>
</nav>