<!DOCTYPE html>
<!--[if IE 7]><html lang="fr" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
<!-- WET 3.1, PWGSC 1.0 Intranet file: sp-pe-fra-eng.html -->
<!-- TitleStart -->
<title>maSource - mySource</title>
<!-- TitleEnd -->
<!-- MetadataStart -->
<meta name="description" content="French description / Description en français" />
<meta name="description" lang="en" content="English description / Description en anglais" />
<meta name="dcterms.description" content="French description / Description en français" />
<meta name="dcterms.description" lang="en" content="English description / Description en anglais" />
<meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu" />
<meta name="dcterms.creator" lang="en" content="English name of the content author / Nom en anglais de l'auteur du contenu" />
<meta name="dcterms.title" content="French title / Titre en français" />
<meta name="dcterms.title" lang="en" content="English title / Titre en anglais" />
<meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
<meta name="dcterms.modified" title="W3CDTF" content="<!--#config timefmt='%Y-%m-%d'--><!--#echo var='LAST_MODIFIED'-->" />
<meta name="dcterms.subject" title="gccore" content="French subject terms / Termes de sujet en français" />
<meta name="dcterms.subject" lang="en" title="gccore" content="English subject terms / Termes de sujet en anglais" />
<meta name="dcterms.language" title="ISO639-2" content="fra" />
<meta name="dcterms.language" lang="en" title="ISO639-2" content="eng" />
<meta name="keywords" content="Mots-clés en français / French keywords" />
<meta name="keywords" lang="en" content="English keywords / Mots-clés en anglais" />
<!-- MetadataEnd -->

<!--#include virtual="/boew-wet/wet3.1/html5/includes/tete_pe-sp_head.html" -->
<style>
#gcwu-sig, #gcwu-sig-in, #gcwu-sig img{height:33px !important;overflow:visible !important;}
#wb-core{background-image:url(/site/wet3.1/images/bnr-1px.png) !important}
#wb-core-in{background:transparent url(/site/wet3.1/images/bg-source2.png) no-repeat center 0 !important; min-height:52px !important}
</style>

</head>

<body><div id="wb-body">
<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<!--#include virtual="/site/wet3.1/html5/includes/banner_gc_pe-sp_gc_banner-fra-eng.html" -->
<!-- HeaderEnd -->
</header></div></div>

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
<h1 id="wb-cont">Bienvenue / <span lang="en">Welcome</span></h1>

<div id="gcwu-title">
<div id="gcwu-title-left" class="span-3 margin-bottom-none">maSource</div>
<div class="span-2 margin-bottom-none"></div>
<div id="gcwu-title-right" class="span-3 margin-bottom-none" lang="en">mySource</div>
<div class="clear"></div>
</div>

<div id="gcwu-lang"><nav role="navigation"><h2>Liens de sélection de langue / <span lang="en">Language selection links</span></h2>
<div class="span-6 grid-12 margin-bottom-none">
<ul id="gcwu-ef-lang">
<li><div class="span-2 row-start margin-bottom-none"><a href="index-fra.html">Français</a></div></li>
<li lang="en"><div class="span-2 row-end margin-bottom-none"><a href="index-eng.html">English</a></div></li>
</ul>
</div>
<div id="gcwu-wmms" class="span-2 margin-bottom-none"><div id="gcwu-wmms-in"><object data="/boew-wet/wet3.1/theme-gcwu-intranet/images/wmms-blk.svg" role="img" tabindex="-1" aria-label="Symbole du gouvernement du Canada / Symbol of the Government of Canada" type="image/svg+xml"><img src="/boew-wet/wet3.1/theme-gcwu-intranet/images/wmms.png" class="image-actual" alt="Symbole du gouvernement du Canada / Symbol of the Government of Canada" /></object></div></div>
<div class="clear"></div>
</nav></div>
<!-- MainContentEnd -->
</div></div>
</div></div>

<!-- FooterStart -->
<div id="wb-foot"><div id="wb-foot-in"><footer><h2>Pied de page / <span lang="en">Footer</span></h2>
<div id="gcwu-tc" class="span-8">
<div class="span-6 grid-12 margin-bottom-none margin-top-none row-start row-end">
<ul id="gcwu-ef-tc">
<li><div class="span-2 row-start"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/avis-terms-fra.html" rel="license">Avis</a></div></li>
<li lang="en"><div class="span-2 row-end"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/avis-terms-eng.html" rel="license">Terms and conditions</a></div></li>
</ul>
</div>
<div class="clear"></div>
</div>
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<!--#include virtual="/boew-wet/wet3.1/html5/includes/script_pied-script_footer.html" -->
<!-- ScriptsEnd -->
</body>
</html>
